.cart_table {
  // display: flex;
  justify-content: center;
}
.cart_content {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart_table tbody tr {
  border-bottom: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  td button {
    font-size: 14px;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
}

.table_btn {
  right: 0;
  display: flex;
}
.no_product {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.table_children {
  margin: 0 20px;
  width: 35vw;
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
}
td button:hover {
  background-color: antiquewhite;
}
.addCart_content {
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // margin-top: 30px;

  h3 {
    font-size: 25px;
  }
}
.table_price {
  padding: 0px 30px;
}
.table_quantity {
  padding-right: 30px;
}
.order_button {
  margin-top: 20px;
  button {
    font-size: 18px;
    border: none;
    padding: 4px 10px;
  }
}
.order_button button:hover {
  cursor: pointer;
  background-color: antiquewhite;
}
