.navbar {
  ul {
    display: flex;
    list-style: none;
    gap: 0px 10px;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
  }
}
.product {
  padding: 20px 0px;
  text-align: center;
  margin: 0px 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 7px 58px rgba(49, 53, 82, 0.3);
  backdrop-filter: blur(11px);
  border-radius: 61px;
  &_name {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: bold;
  }
  &_version {
    display: flex;
    flex-direction: column;
    text-align: center;
    // align-items: center;
    width: 20vw;
    border: 4px solid #343754;
    border-radius: 4px;
    &_title {
      padding-top: 10px;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: bold;
    }

    &_GB {
      padding-left: 10px;
      padding-bottom: 10px;
      span {
        cursor: pointer;
        text-align: center;
        width: 80px;
        display: block;
        font-family: "Roboto", sans-serif;
        background-color: #d9d9d9;
        padding: 4px 8px;
        border-radius: 4px;
      }
      &--span {
        margin: 10px 0px;
      }
    }
  }
  &_order {
    &_now {
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      text-align: center;
      width: 160px;
      padding: 4px;
      color: white;
      border-radius: 4px;
      font-weight: bold;
      background-color: #ff0000;
      p {
        font-style: 18px;
        line-height: 1;
      }
      span {
        line-height: 1;
        font-weight: 400;
        font-size: 16px;
      }
      margin-bottom: 20px;
    }
    &_installments {
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      text-align: center;
      width: 160px;
      padding: 4px;
      color: white;
      border-radius: 4px;
      font-weight: bold;
      background-color: #4d74ff;
      p {
        font-style: 18px;
        line-height: 1;
      }
      span {
        line-height: 1;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  &_color {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    border: 4px solid #343754;
    border-radius: 4px;
    &_title {
      padding-top: 10px;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: bold;
    }
    &_items {
      span {
        cursor: pointer;
        text-align: center;
        width: 80px;
        display: block;
        font-family: "Roboto", sans-serif;
        background-color: #d9d9d9;
        padding: 4px 8px;
        border-radius: 4px;
      }
      &--item {
        margin: 10px 0px;
      }
    }
    &_total_item {
      display: flex;
      gap: 0px 20px;
      padding-bottom: 10px;
    }
  }

  &_pay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &_order {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      font-weight: 900;
    }
  }
}

.banner_slider {
  align-items: center;
  overflow: hidden;
  img {
    object-fit: contain;
    cursor: pointer;
    // width: 20vw;
    height: 35vh;
  }
}
.slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
  list-style: none;
  display: flex;
  margin: 0;

  button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: linear 0.2s all;
  }
}

.slick-slider.banner_slider.slick-initialized {
  height: 50vh;
  z-index: 100;
}

.detail_product {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_line {
    width: 35%;
    height: 8px;
    border-radius: 4px;
    background-color: #343754;
    &--title {
      background-color: red;
      display: contents;
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      font-weight: bold;
    }
  }
}
.container_detail {
  position: relative;
}

.view_product {
  padding: 20px 0px;
  text-align: center;
  margin: 0px 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 7px 58px rgba(49, 53, 82, 0.3);
  backdrop-filter: blur(11px);
  border-radius: 61px;

  &_one {
    padding-bottom: 50px;
  }
  &_one,
  &_two {
    &_title {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 30px;
    }
    &_description {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      opacity: 0.7;
    }
    &_img {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
.close_Installments {
  &--icon {
    cursor: pointer;
    background-color: #c4cef0;
    position: fixed;
    z-index: 1000;
    opacity: 0.7;
    top: 17%;
    left: 45%;
    right: 0;
    margin: auto auto;
    width: 35px;
    height: 35px;
  }
}

span.activecolor {
  color: white;
  background-color: rgb(204, 145, 68);
}
